<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Transportes Galmiche</title>
        <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/ofertaLaboral.css">
        <link rel="stylesheet" href="../styles/icofont/icofont.min.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <img src="../images/arrow up.png" alt="" class="btnup">

        <div class="nav-header">
            <img src="../images/fondo v2.jpg" alt="" class="img-banner">
            <div class="container-logo">
                <img src="../images/logo 24-03-2021.png" alt="" class="img-logo">
            </div>
        
            <div class="letras-title">
                <div>Transportes Galmiche</div>
            </div>
            <nav class="nav nav-body">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="./servicios.html" tabindex="-1" aria-disabled="true">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
                </li>
                <li class="nav-item nav-oferta">
                    <a class="nav-link active" tabindex="-1" aria-disabled="true">Oferta laboral</a>
                </li>
            </nav>
        </div>

        <div class="container" id="app">

            <div class="modal-dialog-centered" id="loading">
                <img src="../images/loader3.gif" alt="">
                <div v-if="viewProgressBar" class="container-progress">
                    <div class="title-progress">Subiendo curriculum</div>
                    <div class="progress uploadFiles">
                        <div id="progress-main" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <div v-if="!thereAreVacancy" class="not-vacancy text-center pt-4">
                <h3>Por el momento todos nuestros puestos estan ocupados</h3>
                <img src="../images/not_vacancy.jpg" alt="" width="100%">
            </div>
    
            <div v-else class="card mt-4" style="width: 90%; margin-left: 5%;">
                <div class="card-body">
                    <h3 class="card-title">Vacante disponible</h3>
    
                    <div class="form-group">
                        <label for="puesto">Puesto solicitado</label>
                        <select id="puesto" class="form-control" v-model="puestoSelected">
                            <option value="noSelected">Seleccione el puesto disponible...</option>
                            <option
                                v-for="(vacante, indexVacante) in listRefactorVacante"
                                :key="indexVacante"
                            >
                                {{ vacante }}
                            </option>
                        </select>
                    </div>
    
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">Requisito y/o habilidades para el puesto de: {{ puestoName }}</h4>
                        <div class="form-group">
                            <textarea 
                                id="my-textarea"
                                class="form-control bg-white"
                                rows="8"
                                readonly
                            >{{ puestoRequisitos }}</textarea>
                        </div>
                        <hr>
                        <p class="mb-0">Si cumples con los requisitos y tienes las habilidades necesarias rellena el siguiente formulario y envianos tu postulacion, nosotros nos pondremos en contacto contigo</p>
                    </div>
    
                    <button class="btn btn-primary" type="button" data-target="#formulario" data-toggle="collapse" aria-expanded="false" aria-controls="formulario" @click="formVisible = !formVisible">
                        <span :class="iconBtn" id="spanFillForm"></span>
                        <span id="contentFillBtn">Rellenar formulario</span>
                    </button>
    
                    <div id="formulario" class="collapse mt-4">
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-4 inputs-name">
                                <label for="inputNombre">Nombre(s)</label>
                                <input type="text" class="form-control" v-model="formPostulacion.name" id="inputNombre" placeholder="Ingrese nombre(s)">
                            </div>
                            <div class="form-group col-md-4 inputs-name">
                                <label for="inputAPaterno">Apellido Paterno</label>
                                <input type="text" class="form-control" v-model="formPostulacion.ap" id="inputAPaterno" placeholder="Ingrese su apellido paterno">
                            </div>
                            <div class="form-group col-md-4 inputs-name">
                                <label for="inputAMaterno">Apellido Materno</label>
                                <input type="text" class="form-control" v-model="formPostulacion.am" id="inputAMaterno" placeholder="Ingrese su apellido materno">
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label for="inputFNacimiento">Fecha de nacimiento</label>
                            <input v-model="formPostulacion.fecha_nace" id="inputFNacimiento" class="form-control" type="date" name="">
                        </div>
        
                        <div class="form-group">
                            <label for="inputPhone">Telefono de contacto</label>
                            <input v-model="formPostulacion.phone" id="inputPhone" class="form-control" type="tel" name="" placeholder="000 000 0000">
                        </div>
        
                        <div class="form-group">
                            <label for="inputEmail">Correo electronico</label>
                            <input v-model="formPostulacion.email" id="inputEmail" class="form-control" type="email" name="" placeholder="alguien@dominio.subdominio">
                        </div>
        
                        <div class="form-group">
                            <label for="inputDir">Direccion</label>
                            <input v-model="formPostulacion.ciudad" id="inputDir2" class="form-control" type="text" name="" placeholder="Ciudad">
                            <small id="emailHelp" class="form-text text-muted mb-2">*Ciudad</small>
                            <input v-model="formPostulacion.estado" id="inputDir3" class="form-control" type="text" name="" placeholder="Estado">
                            <small id="emailHelp" class="form-text text-muted mb-2">*Estado</small>
                        </div>
        
                        <div class="form-group mb-1">
                            <label for="dondeLabel">¿Como te enteraste de la vacante?</label>
                        </div>
        
                        <div class="form-row">
                            <div class="form-check col-md-4 custom-checkbox">
                                <input id="dondeface" v-model="formPostulacion.enteraste_vacante" class="custom-control-input" type="radio" name="checkdonde" value="Face">
                                <label for="dondeface" class="custom-control-label ml-3">Facebook</label>
                            </div>
        
                            <div class="form-check col-md-4 custom-checkbox">
                                <input id="dondepagina" v-model="formPostulacion.enteraste_vacante" class="custom-control-input" type="radio" name="checkdonde" value="En esta pagina">
                                <label for="dondepagina" class="custom-control-label ml-3">En esta pagina</label>
                            </div>
        
                            <div class="form-check col-md-4 custom-checkbox">
                                <input id="dondeinstagram" v-model="formPostulacion.enteraste_vacante" class="custom-control-input" type="radio" name="checkdonde" value="Instagram">
                                <label for="dondeinstagram" class="custom-control-label ml-3">Instagram</label>
                            </div>
                        </div>
        
                        <div class="form-row">
                            <div class="form-check col-md-4 custom-checkbox">
                                <input id="dondeamigo" v-model="formPostulacion.enteraste_vacante" class="custom-control-input" type="radio" name="checkdonde" value="Un amigo">
                                <label for="dondeamigo" class="custom-control-label ml-3">Un amigo</label>
                            </div>
        
                            <div class="form-check col-md-4 custom-checkbox">
                                <input id="dondepublicidad" v-model="formPostulacion.enteraste_vacante" class="custom-control-input" type="radio" name="checkdonde" value="Publicidad pegada">
                                <label for="dondepublicidad" class="custom-control-label ml-3">Publicidad pegada</label>
                            </div>
        
                            <div class="form-check col-md-4 custom-checkbox">
                                <input id="dondeotro" v-model="formPostulacion.enteraste_vacante" class="custom-control-input" type="radio" name="checkdonde" value="Otro">
                                <label for="dondeotro" class="custom-control-label ml-3">Otro</label>
                            </div>
                        </div>
        
                        <div v-if="isSelectedOther" class="input-group mt-2" id="otroInput">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="my-addon">Otro</span>
                            </div>
                            <input class="form-control" type="text" v-model="formPostulacion.otro" placeholder="Especifique" aria-label="Especifique" aria-describedby="my-addon">
                        </div>
        
                        <p class="mt-4">Subir curriculum (*opcional)</p>
                        <div class="custom-file">
                            <label for="inputCurriculum" class="custom-file-label">{{ nameFile }}</label>
                            <input @change="onFileSelected" id="inputCurriculum" class="custom-file-input" type="file" accept="application/pdf">
                        </div>
        
                        <button class="btn btn-success float-right mt-4" type="button" @click="startSend()">
                            <img src="../images/icon_Airplane.png" alt="" width="40px">
                            Enviar mi postulacion
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalAdministra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" :class="alertDialog.headerColor + ' ' + alertDialog.headerBackground">
                            <h5 class="modal-title" id="exampleModalLabel">{{ alertDialog.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ alertDialog.message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small bg-dark text-white pt-4 mt-5">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item" style="display: block;">
                Redes sociales
            </li>
            <li class="list-inline-item">
                <img src="../images/fb.png" alt="" width="30px">
                <a class="btn-floating btn-fb mx-1 text-white" href="https://www.facebook.com/Transportes-Galmiche-109839623887012" target="_blank">
                    Transportes Galmiche
                </a>
            </li>
            |
            <li class="list-inline-item">
                <img src="../images/Instagram.png" alt="" width="30px">
                <a class="text-white" href="https://www.instagram.com/transportesgalmiche" target="_blank">transportesgalmiche</a>
            </li>
        </ul>
        <hr>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a>Transportes Galmiche</a>
        </div>
    </footer>

    <div class="modal fade" id="modalAdvertencia" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header bg-warning text-white" id="headerModal">
                <h5 class="modal-title" id="textHeaderModal">Advertencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="contentModal">advertencia</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
            </div>
            </div>
        </div>
    </div>
    
        <!-- Carga de firebase -->
        <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-storage.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-analytics.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="../scripts/main.js"></script>
        <script src="../scripts/ofertaLaboral.js"></script>
    </body>
</html>
