.quines-somos, .mision, .vision {
    padding: 15px;
}
.mision {
    background: rgb(226, 226, 226);
    margin-top: 50px;
    padding-bottom: 50px;
}
.vision {
    margin-top: 50px;
}

.ldqs {
    display: inline-block;
    width: 60%;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.carousel-caption {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 3px #000;
    background: rgba(0, 0, 0, 0.185);
    width: 100%;
    margin-left: -15%;
}

.carousel-caption h5{
    font-size: 30px;
}

.carousel-caption p,.carousel-caption ul{
    font-size: 20px;
}

.sqs {
    width: 100%;
    text-align: center;
}

.contenido {
    font-family: 'Roboto';
    text-align: justify;
    font-size: 20px;
}

.cqs {
    width: 100%;
    padding: 10%;
    padding-top: 2%;
}

.img-qs {
    display: inline-block;
    width: 28%;
}

.icon-flecha {
    color: aqua;
    font-size: 100px;
}

/* .title-galeria {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    border-bottom: 1px solid rgb(131, 131, 131);
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
} */


@media screen and (max-width: 1000px) {
    .carousel-caption h5{
        font-size: 25px;
    }
    .carousel-caption p,.carousel-caption ul{
        font-size: 17px;
    }
}

@media screen and (max-width: 900px) {
    .ldqs {
        width: 50%;
    }
    .img-qs {
        width: 49%;
    }
}

@media screen and (max-width: 800px) {
    .subtitle {
        font-size: 35px;
    }
    .contenido {
        font-size: 18px;
    }
    .carousel-caption h5{
        font-size: 23px;
    }
    .carousel-caption p,.carousel-caption ul{
        font-size: 15px;
    }
}

@media screen and (max-width: 724px) {
    .img-qs {
        width: 45%;
    }
    .carousel-caption h5{
        font-size: 18px;
    }
    .carousel-caption p,.carousel-caption ul{
        font-size: 12px;
    }
}

@media screen and (max-width: 674px) {
    .quines-somos, .vision, .mision {
        text-align: center;
    }
    .img-qs {
        width: 70%;
    }
    .ldqs {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .carousel-caption {
        background: rgb(41, 41, 41);
        height: 150px;
    }
    .carousel-caption h5{
        font-size: 15px;
    }
    .carousel-caption p,.carousel-caption ul{
        font-size: 10px;
        margin: 0px;
        padding: 10px;
    }
    .carousel-inner, .carousel-item {
        height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .subtitle {
        font-size: 25px;
    }
    .contenido {
        font-size: 15px;
    }
}

@media screen and (max-width: 435px) {
    .carousel-caption {
        height: 170px;
    }
}

@media screen and (max-width: 370px) {
    .carousel-caption {
        height: 180px;
    }
}

@media screen and (max-width: 337px) {
    .carousel-caption {
        height: 190px;
    }
}
