.quines-somos, .mision, .vision {
    padding: 15px;
}
.mision {
    background: rgb(226, 226, 226);
    margin-top: 50px;
    padding-bottom: 50px;
}
.vision {
    margin-top: 50px;
}

.ldqs {
    display: inline-block;
    width: 60%;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.carousel-caption {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 3px #000;
    background: rgba(0, 0, 0, 0.185);
    width: 100%;
    margin-left: -15%;
}

.carousel-caption h5{
    font-size: 30px;
}

.carousel-caption p,.carousel-caption ul{
    font-size: 20px;
}

.sqs {
    width: 100%;
    text-align: center;
}

.contenido {
    font-family: 'Roboto';
    text-align: justify;
    font-size: 20px;
}

.cqs {
    width: 100%;
    padding: 10%;
    padding-top: 2%;
}

.img-qs {
    display: inline-block;
    width: 28%;
}

.icon-flecha {
    color: aqua;
    font-size: 100px;
}

.title-galeria {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    border-bottom: 1px solid rgb(131, 131, 131);
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.container-gallery {
    width: 96%;
    margin: auto;
    padding: 2% 2% 0px 0px;
    background: rgb(37, 37, 37);
    text-align: center;
}

.item-gallery {
    width: 30%;
    min-width: 140px;
    margin: 0px 0px 2% 2%;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
}

.item-gallery:hover {
    border: 3px solid rgb(0, 255, 149);
}

.background-view-gallery {
    z-index: 10;
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.527);
}

.btnArrow {
    cursor: pointer;
    height: 40px;
    position: fixed;
    top: calc(50% - 20px);
    z-index: 15;
}

.btnArrow:hover {
    height: 46px;
    top: calc(50% - 23px);
}

.left {
    left: 8%;
    right: 8%;
}

.right {
    right: 8%;
}

.positionImage {
    position: absolute;
    bottom: calc(12% - 10px);
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    left: 50%;
    background: #fff;
    z-index: 14;
}

.container-view-gallery {
    position: relative;
    margin: auto;
    margin-top: 3%;
    width: 90%;
    height: 88%;
    background: rgba(17, 17, 17, 0.87);
    padding: 10px;
    overflow: auto;
    text-align: center;
}

.close-view-gallery {
    cursor: pointer;
    top: 10px;
    right: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    background: #000;
    border-radius: 100%;
    border: 2px solid #fff;
    z-index: 13;
}

.close-view-gallery:hover {
    color: #000;
    background: #fff;
    border: 2px solid #000;
}

.span-close {
    position: absolute;
    top: -12px;
    left: 8px;
}

.item-view-gallery {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 12;
}

.container-position {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@media screen and (max-width: 1000px) {
    .carousel-caption h5{
        font-size: 25px;
    }
    .carousel-caption p,.carousel-caption ul{
        font-size: 17px;
    }
}

@media screen and (max-width: 900px) {
    .ldqs {
        width: 50%;
    }
    .img-qs {
        width: 49%;
    }
}

@media screen and (max-width: 800px) {
    .subtitle {
        font-size: 35px;
    }
    .contenido {
        font-size: 18px;
    }
    .carousel-caption h5{
        font-size: 23px;
    }
    .carousel-caption p,.carousel-caption ul{
        font-size: 15px;
    }
}

@media screen and (max-width: 724px) {
    .img-qs {
        width: 45%;
    }
    .carousel-caption h5{
        font-size: 18px;
    }
    .carousel-caption p,.carousel-caption ul{
        font-size: 12px;
    }
}

@media screen and (max-width: 674px) {
    .quines-somos, .vision, .mision {
        text-align: center;
    }
    .img-qs {
        width: 70%;
    }
    .ldqs {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .carousel-caption {
        background: rgb(41, 41, 41);
        height: 150px;
    }
    .carousel-caption h5{
        font-size: 15px;
    }
    .carousel-caption p,.carousel-caption ul{
        font-size: 10px;
        margin: 0px;
        padding: 10px;
    }
    .carousel-inner, .carousel-item {
        height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .subtitle {
        font-size: 25px;
    }
    .contenido {
        font-size: 15px;
    }
}

@media screen and (max-width: 435px) {
    .carousel-caption {
        height: 170px;
    }
}

@media screen and (max-width: 370px) {
    .carousel-caption {
        height: 180px;
    }
}

@media screen and (max-width: 337px) {
    .carousel-caption {
        height: 190px;
    }
}
