.cardSesion {
    max-width: 800px;
    margin: auto;
}

.logo-container {
    text-align: center;
    height: 180px;
    padding-top: 40px;
    margin-top: 5%;
    /* background: #000; */
}

.logo-user {
    font-size: 100px;
    border: 2px solid #000;
    border-radius: 100%;
    padding: 30px;
}

.lostPassword {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.lostPassword:hover {
    color: gray;
}
