.btnup {
    position: fixed;
    z-index: 6;
    width: 50px;
    right: 10px;
    bottom: 10px;
    border-radius: 100%;
    border: 4px solid #fff;
    cursor: pointer;
    display: none;
}

.btnup:hover {
    border: 4px solid rgb(1, 44, 61);
}

.nav-header {
    height: 420px;
    background: rgb(0, 112, 177);
    width: 100%;
    position: relative;
}

.nav-link {
    background: rgb(2, 123, 139);
    color: rgb(255, 255, 255);
}

.active {
    background: #fff;
    color: #000;
}

.nav-link:hover {
    background: rgb(1, 87, 87);
    /* border-radius: 15px; */
    color: rgb(255, 255, 255);
}

.img-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.img-logo {
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 60%;
}

.img-letras {
    position: absolute;
    width: 70%;
}

.nav-body {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.nav-item {
    margin-right: 0px;
    border-radius: 0px;
    background: #fff;
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.561);
}

@media screen and (max-width: 1000px) {
    .img-letras {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .nav-header {
        height: 350px;
    }
    .img-letras {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .nav-header {
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .nav-header {
        height: 250px;
    }
}

@media screen and (max-width: 500px) {
    .nav-header {
        height: 200px;
    }
    .img-logo {
        left: 15px;
    }
}
@media screen and (max-width: 400px) {
    .img-logo {
        left: 5px;
    }
}
