#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.475);
    text-align: center;
    z-index: 10;
}

#loading img {
    width: 100px;
    margin-left: calc(50% - 50px);
}

.btnup {
    position: fixed;
    z-index: 6;
    width: 50px;
    right: 10px;
    bottom: 10px;
    border-radius: 100%;
    border: 4px solid #fff;
    cursor: pointer;
    display: none;
}

.btnup:hover {
    border: 4px solid rgb(1, 44, 61);
}

.nav-header {
    height: 600px;
    background: rgb(0, 112, 177);
    width: 100%;
    position: relative;
}

.nav-link {
    background: rgba(2, 123, 139, 0.493);
    color: rgb(255, 255, 255);
}

.active {
    background: #fff;
    color: #000;
}

.nav-link:hover {
    background: rgba(1, 87, 87, 0.849);
    color: rgb(255, 255, 255);
}

.active:hover {
    background: #fff;
    color: #000;
}

.img-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.letras-title {
    position: absolute;
    z-index: 3;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    top: 180px;
    left: 0px;
    width: 100%;
    font-size: 60px;
    text-align: center;
}

.container-logo {
    position: absolute;
    top: 260px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.img-logo {
    width: 16%;
}

/* .img-letras {
    position: absolute;
    width: 70%;
    display: none;
} */

.nav-body {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.nav-item {
    margin-right: 0px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0);
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.561);
}

@media screen and (max-width: 1000px) {
    /* .img-letras {
        width: 90%;
    } */
    .letras-title {
        font-size: 55px;
    }
}

@media screen and (max-width: 800px) {
    .nav-header {
        height: 450px;
    }
    /* .img-letras {
        width: 100%;
    } */
    .letras-title {
        font-size: 50px;
    }
}

@media screen and (max-width: 700px) {
    .nav-header {
        height: 400px;
    }
    .letras-title {
        top: 150px;
        font-size: 35px;
    }
    .container-logo {
        top: 200px;
    }
}

@media screen and (max-width: 600px) {
    .nav-header {
        height: 350px;
    }
    .letras-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .nav-header {
        height: 300px;
    }
    .letras-title {
        font-size: 25px;
        top: 100px;
    }
    .container-logo {
        top: 140px;
    }
    /* .img-logo {
        left: 15px;
    } */
}

@media screen and (max-width: 400px) {
    .img-logo {
        width: 26%;
    }
}

@media screen and (max-width: 390px) {
    .nav-link {
        font-size: small;
    }
    .nav-item {
        text-align: center;
        width: 22%;
    }
    .nav-oferta {
        width: 34%;
    }
    .nav-body {
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    .nav-link {
        font-size: 11px;
    }
}

@media screen and (max-width: 307px) {
    .nav-link {
        font-size: 9px;
    }
}
