.principal-servicios {
    margin-top: 20px;
    text-align: center;
    padding: 30px 0px;
}

.servicio-item {
    display: inline-block;
    width: calc(30% - 3px);
    margin-left: 1%;
    margin-right: 1%;
    padding: 15px;
    cursor: pointer;
}
.servicio-item:hover {
    background: rgb(245, 245, 245);
}

.title-servicio {
    font-size: 23px;
    margin-bottom: 5px;
}

.img-servicio {
    width: 90%;
    border-radius: 10px;
}

.info-servicio {
    color: rgb(0, 89, 255);
    font-size: 19px;
    text-decoration: underline;
    text-align: left;
    text-indent: 5%;
    margin-top: 10px;
}
.info-servicio:hover {
    color: rgb(1, 26, 71);
}

.cobertura {
    position: relative;
    background-image: url('../images/carretera.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.cobertura-izquierdo {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 40%;
    text-align: center;
    display: inline-block;
}

.img-cobertura {
    max-width: 500px;
    width: 90%;
    margin-top: 70px;
    border-radius: 10px;
    border: 3px solid #fff;
}

.cobertura-derecho {
    width: 59%;
    margin-left: 40%;
    display: inline-block;
}

.title-cobertura, .title-flotilla, .title-clientes {
    color: #fff;
    text-shadow: 0px 0px 2px 2px #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.item-cobertura {
    margin-bottom: 10px;
    width: 100%;
}

.card-title {
    font-weight: bold;
}

.img-cobertura-item {
    width: 150px;
    float: left;
    margin-right: 10px;
}

.flotilla {
    margin-top: 5%;
    text-align: center;
}

.title-flotilla {
    color: #000;
    border-bottom: 1px solid rgb(131, 131, 131);
    width: 90%;
    margin-left: 5%;
}

.item-flotilla {
    cursor: pointer;
    width: 30%;
    padding: 2%;
    margin: 1%;
    display: inline-block;
}

.item-flotilla:hover > .img-flotilla-item {
    width: 98%;
}

.img-flotilla-item {
    width: 100%;
    border-radius: 5px;
}

.division-flotilla {
    display: block;
    margin-left: 5%;
    width: 90%;
    background: rgb(1, 134, 127);
    height: 1px;
}

.descripcion-flotilla {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.especificaciones-flotilla {
    color: rgb(104, 104, 104);
    margin-top: 2px;
}

.clientes {
    background: rgb(1, 134, 127);
    padding: 2%;
    text-align: center;
}

.title-clientes {
    border-bottom: 1px solid rgb(241, 241, 241);
    width: 90%;
    margin-left: 5%;
}

.item-clientes {
    padding: 10px;
    width: 200px;
    display: inline-block;
    margin: 1%;
    text-align: center;
    border-radius: 5px;
    width: 220px;
}

.img-cliente-item {
    width: 90%;
}

.name-cliente {
    margin-bottom: 10px;
}

.background-view-gallery {
    z-index: 10;
    /* display: none; */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.527);
}

.btnArrow {
    cursor: pointer;
    height: 40px;
    position: fixed;
    top: calc(50% - 20px);
    z-index: 15;
}

.btnArrow:hover {
    height: 46px;
    top: calc(50% - 23px);
}

.left {
    left: 8%;
    right: 8%;
}

.right {
    right: 8%;
}

.positionImage {
    position: absolute;
    bottom: calc(12% - 10px);
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    left: 50%;
    background: #fff;
    z-index: 14;
}

.container-view-gallery {
    position: relative;
    margin: auto;
    margin-top: 3%;
    width: 90%;
    height: 88%;
    background: rgba(17, 17, 17, 0.87);
    padding: 10px;
    overflow: auto;
    text-align: center;
}

.close-view-gallery {
    cursor: pointer;
    top: 10px;
    right: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    background: #000;
    border-radius: 100%;
    border: 2px solid #fff;
    z-index: 13;
}

.close-view-gallery:hover {
    color: #000;
    background: #fff;
    border: 2px solid #000;
}

.span-close {
    position: absolute;
    top: -12px;
    left: 8px;
}

.item-view-gallery {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 12;
}

.container-position {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.orientationVertical {
    width: 100%;
    height: auto;
}
.orientationHorizontal {
    height: 100%;
    width: auto;
}


@media screen and (max-width: 1200px) {
    .img-cobertura {
        margin-top: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .img-cobertura {
        margin-top: 35%;
    }
}

@media screen and (max-width: 790px) {
    .descripcion-flotilla {
        font-size: 17px;
    }
    .img-cobertura {
        margin-top: 65%;
    }
}

@media screen and (max-width: 765px) {
    .title-servicio {
        font-size: 20px;
    }
    .info-servicio {
        font-size: 17px;
    }
}

@media screen and (max-width: 740px) {
    .item-clientes {
        width: 150px;
    }
    .name-cliente {
        font-size: 10px;
        font-weight: bold;
    }
}

@media screen and (max-width: 680px) {
    .title-servicio {
        font-size: 18px;
    }
    .info-servicio {
        font-size: 15px;
    }
    .cobertura-izquierdo {
        display: none;
    }
    .cobertura {
        text-align: center;
    }
    .cobertura-derecho {
        width: 95%;
        text-align: justify;
    }
    .cobertura-derecho {
        margin-left: 0px;
    }
}

@media screen and (max-width: 673px) {
    .item-flotilla {
        width: 45%;
    }
}

@media screen and (max-width: 624px) {
    .title-servicio {
        font-size: 15px;
    }
    .info-servicio {
        font-size: 13px;
    }
}

@media screen and (max-width: 539px) {
    .title-servicio {
        font-size: 13px;
    }
    .info-servicio {
        font-size: 11px;
    }
}

@media screen and (max-width: 484px) {
    .title-servicio {
        font-size: 11px;
    }
    .info-servicio {
        font-size: 10px;
    }
    .img-cobertura-item {
        width: 120px;
    }
    .descripcion-item-cob {
        font-size: 14px;
    }
}

@media screen and (max-width: 427px) {
    .title-servicio {
        font-size: 22px;
        position: absolute;
        width: 94%;
        text-align: left;
        padding-left: 110px;
    }
    .info-servicio {
        font-size: 15px;
        position: absolute;
        right: 15px;
        width: 200px;
        bottom: 20px;
        text-align: right;
    }
    .servicio-item {
        width: calc(90% - 3px);
        margin-bottom: 1%;
    }
    .img-servicio {
        float: left;
        width: 100px;
    }
    .descripcion-flotilla {
        font-size: 15px;
    }
    .especificaciones-flotilla {
        font-size: 13px;
    }
}

@media screen and (max-width: 377px) {
    .descripcion-flotilla {
        font-size: 13px;
    }
    .especificaciones-flotilla {
        font-size: 12px;
    }
    .descripcion-item-cob {
        font-size: 13px;
    }
}
